@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');

hr {
  background-color: #a8adaf;
}

.btn-color {
  background-color: #37acf4 !important;
}

.btn-font {
  font-family: 'Source Serif Pro', serif;
}

.dropdowns {
  margin: 0 1em;
}

.blue-container {
  background-color: #37acf4;
}

.grey-text {
  color: #c0f3ff;
}

.modal-content {
  background-color: #fefefe;
  background-image: url("./resources/images/proj_bkgd/bio_lightbk.jpg");
  background-size: cover;
  /* margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%; 
  font-size: 1em; */
}

#blue-container-focus {
  background-color: #37acf4;
  padding-top: 2em;
}

#grey-section {
  background: #dcdbdd;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 0;
}

#pink-section {
  background: #ff1f85;
}

.navs {
  position: fixed;
  top: 0;
  width: 100%;
}

.headings2 {
  margin-top: 2em;
  font-size: 60px;
  color: #ffffff;
}

.headings {
  font-size: 60px;
  color: #ffffff;
  margin-top: 1em;
}

.headings3 {
  margin-bottom: 2em;
}

.headshot {
  max-width: 150px;
  max-height: 150px;
  padding: 1em;
}

.interntopics {
  max-width: 75px;
}

.white-text {
  color: #ffffff;
}

.main-page {
  margin: 3em 0;
}

.all-content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 20em;
}

.custom-footer { 
  background: linear-gradient(#05437e, #37acf4);
  height: 20em;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.chronicle-pics {
  width: 500px;
}

.webinar-pics {
  width: 750px;
}

.comment-name {
  font-size: 14px; 
}

/* for smaller screens */
@media (max-width: 1366px) {
  .content-wrap {
    padding-bottom: 23em;
  }
  .custom-footer {
    height: 23em;
  }
}

/* for mobile */
@media (max-width: 767px) {
  .content-wrap {
    padding-bottom: 27em;
  }
  .custom-footer {
    height: 27em;
  }
  .chronicle-pics {
    width: 400px;
  }
}

.socials {
  padding: 0.5em;
  color: #ffffff;
}

.copyright {
  font-size: 12px;
  padding: 1em;
}

.card-spacing {
  padding: 0.5em;
  width: 20rem;
}

/*chronicles*/
.authors {
  color: #7a7980;
}

/* .modals {
  background-color: #fefefe;
  background-image: url("./resources/images/proj_bkgd/bio_lightbk.jpg");
  background-size: cover;
} */

.date {
  font-size: 14px;
}
