@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

hr {
  background-color: #a8adaf;
}

.btn-color {
  background-color: #37acf4 !important;
}

.btn-orange {
  background-color: #ff9700 !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  align-self: center !important;
  font-size: 32px !important;
  border-color: #ff9700 !important;
}

.btn-font {
  font-family: "Source Serif Pro", serif;
}

.button-margin {
  margin-top: 1em;
}

.larger-margin {
  margin-top: 4em;
  margin-bottom: 4em;
}

.plane-logo {
  margin-top: 0.4em;
  width: 2.3em;
}

.tracks-title {
  width: 35em;
}

.dropdowns {
  margin: 0 1em;
}

.blue-container {
  background-color: #37acf4;
}

.grey-text {
  color: #c0f3ff;
}

.blue-text {
  margin-left: 0.3em;
  color: #37acf4;
  font-weight: 700;
}

.modal-content {
  background-color: #fefefe;
  background-image: url("./resources/images/proj_bkgd/bio_lightbk.jpg");
  background-size: cover;
  /* margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%; 
  font-size: 1em; */
}

#blue-container-focus {
  background-color: #37acf4;
  padding-top: 2em;
}

#grey-section {
  background: #dcdbdd;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 0;
}

#pink-section {
  background: #ff1f85;
}

#orange-section {
  background: #ff9700;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 0;
}

.why-apply-section {
  position: relative;
  width: 100%;
}

.why-apply-section img {
  width: 100%;
  height: auto;
}

.why-apply-section .apply-button-1 {
  position: absolute;
  top: 7%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.foot-section {
  position: relative;
  width: 100%;
}

.foot-section img {
  width: 100%;
  height: auto;
}

.foot-section .apply-button-2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-section {
  position: relative;
  width: 100%;
}

.banner-section img {
  width: 100%;
  height: auto;
}

.banner-section .apply-button-4 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navs {
  position: fixed;
  top: 0;
  width: 100%;
}

.headings2 {
  margin-top: 2em;
  font-size: 60px;
  color: #ffffff;
}

.headings {
  font-size: 60px;
  color: #ffffff;
  margin-top: 1em;
}

.headings3 {
  margin-bottom: 2em;
}

.medium-margin {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* .apply-button-1 {
  margin-left: 4.5em;
} */

/* .apply-button-2 {
  margin-top: 10em;
} */

.dark-blue-text {
  color: #1d3c68;
}

.bottom-margin {
  margin-bottom: 2em;
}

/* .foot {
  background-image: url(./resources/images/interview/Footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 17em;
  margin-top: 0;
} */

#light-grey-section {
  background-color: #ececec;
  padding-bottom: 2em;
  margin-top: 0;
}

.headshot {
  max-width: 150px;
  max-height: 150px;
  padding: 1em;
}

.interntopics {
  max-width: 75px;
}

.white-text {
  color: #ffffff;
}

.main-page {
  margin: 3em 0;
}

.all-content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 20em;
}

.custom-footer {
  background: linear-gradient(#05437e, #37acf4);
  height: 20em;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.chronicle-pics {
  width: 500px;
}

.webinar-pics {
  width: 40em;
}

.sei-title {
  width: 25em;
}

.comment-name {
  font-size: 14px;
}

/* for smaller screens */
@media (max-width: 1500px) {
  .content-wrap {
    padding-bottom: 23em;
  }
  .custom-footer {
    height: 23em;
  }
  .btn-orange {
    font-size: large !important;
  }
  .apply-button-1 {
    left: 9%;
  }
}

/* for mobile */
@media (max-width: 767px) {
  .content-wrap {
    padding-bottom: 27em;
  }
  .custom-footer {
    height: 27em;
  }
  .chronicle-pics {
    width: 400px;
  }
  .webinar-pics {
    width: 500px;
  }
  .sei-title {
    width: 300px;
  }
  .apply-button-1 {
    margin-left: 1.75em;
  }
  .btn-orange {
    font-size: 10px !important;
  }
}

.socials {
  padding: 0.5em;
  color: #ffffff;
}

.copyright {
  font-size: 12px;
  padding: 1em;
}

.card-spacing {
  padding: 0.5em;
  width: 20rem;
}

/*chronicles*/
.authors {
  color: #7a7980;
}

.seperate-line {
  color: lightgrey;
  background-color: lightgrey;
  height: 0.5;
}

.caret {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.caret.up {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* .modals {
  background-color: #fefefe;
  background-image: url("./resources/images/proj_bkgd/bio_lightbk.jpg");
  background-size: cover;
} */

.date {
  font-size: 14px;
}

.webinar-date {
  font-weight: 500;
}

/*Event*/
.webinar-content {
  width: 100%;
  height: 110vh;
  background-color: #f4f9ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-margin {
  width: 100%;
  height: 5rem;
}

.Event {
  position: relative;
  width: 85%;
  height: 30rem;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.event-card {
  position: relative;
  width: 70rem;
  height: 38rem;
  background-color: white;
  top: 8%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.event-flyer {
  position: relative;
  width: 31.94rem;
  height: 17.96rem;
  left: 3.5%;
  cursor: pointer;
}

.event-flyer:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.event-flyer-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.event-flyer-modal {
  position: relative;
  width: 63.88rem;
  height: 35.92rem;
}

.event-detail {
  position: relative;
  width: 42%;
  height: 92%;
  left: 5.5rem;
  /* background-color: #ff1f85; */
  font-size: 19px;
  display: flex;
  flex-wrap: wrap;
}

.event-detail-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
  width: 100%;
  white-space: pre-wrap;
}

.event-detail-subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  width: 100%;
  color: #37acf4;
}

.event-detail-time {
  color: #ff1f85;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 0rem;
  width: 100%;
}

.event-detail-content {
  margin-top: 0.5rem;
  font-size: 1.125rem;
}

.event-detail-link-container {
  position: relative;
  margin-top: 0.7rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  bottom: 0.5rem;
}

.event-detail-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background-color: #17a2b8;
  padding: 0.3rem 1.25rem 0.3rem 1.25rem;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.event-detail-link:hover {
  color: white;
  background-color: #137d8d;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .webinar-content {
    width: 100%;
    height: auto;
    background-color: #f4f9ff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .content-margin {
    width: 100%;
    height: 5rem;
  }

  .Event {
    position: relative;
    width: 85%;
    height: 100%;
    /* background-color: red; */
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .event-date-card {
    display: none;
  }

  .event-card {
    position: relative;
    width: 85%;
    height: 100%;
    background-color: white;
    top: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
  }

  .event-flyer {
    position: relative;
    width: 90%;
    height: 50%;
    margin-top: 2rem;
    left: 5%;
    cursor: pointer;
  }

  .event-flyer:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .event-flyer-modal {
    position: relative;
    width: 90%;
    height: 50%;
    left: 5%;
  }

  .event-detail {
    position: relative;
    width: 80%;
    height: 60%;
    left: 9.5%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    /* background-color: #ff1f85; */
    display: flex;
    flex-wrap: wrap;
  }

  .event-detail-title {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 0;
    width: 100%;
  }

  .event-detail-time {
    color: #ff1f85;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
  }

  .event-detail-content {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }

  .event-detail-link-container {
    position: relative;
    margin-top: 0.4rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    bottom: 0.5rem;
  }
}
